# Train Fused_CNN_ResNet50_CNN_ResNet50_Averaging on NTIRE training set following RoHL
# python main.py --config-file "configs/custom/experiment_18.yaml"
MODEL:
  TYPE: "AveragingModel"
  NAME: "Fused_CNN_ResNet50_CNN_ResNet50_Averaging"
  MODEL_DIR: "/kaggle/input/models/myxxanaplt/train-high-freq-cnndet/pytorch/default/1" # fill in this field in stage 1, 2, 3 or use current model trained on CNNSpot as pretrained
  MODEL_NAME: "model-best.pth.tar"
  RESUME: True
  BACKBONE:
    PRETRAINED: True # false in stage 1, 2, 3
    FREEZE: False
    RESNET50_AM_WEIGHTS: "/kaggle/input/augmix-resnet50-imagenet/pytorch/default/1/checkpoint.pth.tar"

DATASET:
  NAME: "NTIRE2026Dataset"
  DATA_DIR: "" # fill in this field
  NUM_CLASSES: 2

DATALOADER:
  BATCH_SIZE: 32

TRANSFORM:
  TRANSFORMS: ["resize", "to_tensor", "normalize"]
  NORMALIZE_BACKBONE: True
  INTERPOLATION_MODE: "bilinear"
  INPUT_SIZE: (224, 224)
  NO_TRANSFORM_TEST: True # NO_TRANSFORM_TEST does not matter because TRANSFORMS is basic

TRAINER:
  TYPE: 4
  USE_CUDA: True
  IS_TRAIN: True
  NUM_EPOCHS: 4 # increase to 5, 6, 7 after each phase
  NO_TEST: True
  TEST_FINAL_MODEL: "best_val"
  OPTIM:
    NAME: "sgd"
    LR: 0.002
    STEPSIZE: [20]

RoHL:
  STAGE: 0
  USE_JSD: True # false in stage 1, 2, 3

EVALUATOR:
  TYPE: 1
