# Train Fused_CNN_ResNet50_CNN_ResNet50_512_Concat on ProGAN towards low-frequency bias for the first extractor and towards high-frequency bias for the second extractor
# python main.py --config-file "configs/custom/experiment_6.yaml" --no-tf-test True --resume False
MODEL:
  TYPE: "MyModel"
  NAME: "Fused_CNN_ResNet50_CNN_ResNet50_512_Concat"
  RESUME: False
  BACKBONE:
    PRETRAINED: True
    FREEZE: False

DATASET:
  NAME: "CNNSpot"
  DATA_DIR: "D:/GitHub/Dassl.pytorch/dassl/data/datasets/cnn_spot"
  NUM_CLASSES: 2

DATALOADER:
  BATCH_SIZE: 32

TRANSFORM:
  TRANSFORMS: ["resize", "random_flip", "gaussian_blur", "jpeg_compression", "to_tensor", "normalize"]
  NORMALIZE_BACKBONE: True
  INTERPOLATION_MODE: "bilinear"
  INPUT_SIZE: (224, 224)
  INPUT_MEAN: [0.485, 0.456, 0.406]
  INPUT_STD: [0.229, 0.224, 0.225]
  # GAUSSIAN BLUR
  GB_P: 0.5
  GB_K: 21
  GB_SIGMA: (0.1, 3.0)
  # JPEG COMPRESSION
  JPEG_P: 0.5
  JPEG_QUALITY: (30, 99)
  NO_TRANSFORM_TEST: True

TRAINER:
  TYPE: 2
  USE_CUDA: True
  IS_TRAIN: True
  NUM_EPOCHS: 2
  NO_TEST: False
  TEST_FINAL_MODEL: "best_val"
  OPTIM:
    NAME: "sgd"
    LR: 0.002
    STEPSIZE: [20]
  JaFR:
    FREQ_BIAS_LAMBDA: 1e-3
    TRACK_FREQ_BIAS_LOSS: True
    EPS: 0.03137254901960784
    DELTA_TYPE_FOR_GRAD_BACKPROP: 'none'
    MAX_POW: 1
    FREQ_BIAS_TEMPERATURE: 1
    FREQ_BIAS_REDUCE_TYPE: 'sum'
    FREQ_BIAS_IGNORE_FIRST_BASIS: False
    EPOCHS_WARMUP_BEFORE_FREQ_BIAS_REG: 0

JaFR:
  VISUALIZE_ONLY: False
  VISUALIZE_FOURIER_DATASET: False
  VISUALIZE_JACOBIAN_MODEL: False
